[ng-scroll-bar] {
  position: relative;
  overflow: hidden!important;
  touch-action: none;
  /**
  * Scrollbars
  */
  // &::-webkit-scrollbar{
  //   width: 0;
  //   height: 0;
  // }
  &:hover{
    .ng-scroll-bar-thumb-x,
    .ng-scroll-bar-thumb-y{
      opacity: 1;
    }
  }
  .ng-scroll-bar-thumb-x,
  .ng-scroll-bar-thumb-y {
    transition: opacity ease-out 300ms;
    opacity: 0;
    position: absolute;
    display: block;
    pointer-events: none;
    content: '';
    width: 8px;
    height: 8px;
    background: rgba(100, 100, 100, 0.5);
    right: 0;
    border-radius: 4px;
    z-index: 0;
    &:active,
    &:focus {
      opacity: 1;
    }
  }
  .ng-scroll-bar-thumb-x {
    right: auto;
    bottom: 0;
  }
}
